{% extends 'blog/base.html' %}

{% block meta_title %}{{ heading }} - {{ block.super }}{% endblock %}

{% block content %}
    <section id="diary-list" class="container">
        <h1 class="section-title">{{ heading }}</h1>

        {% for post in object_list %}

            <article class="post">
                <a href="">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="meta">
                        <time datetime="{{ post.created_at | date:'Y-m-d' }}">{{ diary.created_at | date:'Y年n月j日' }}</time>
                        -
                        {{ post.category }}
                    </p>
                    <div class="contents">
                        <p>
                            {{ post.text | truncatechars:100 }}
                        </p>
                    </div>
                </a>
            </article>

        {% empty %}
            <p>記事が見つかりませんでした。</p>
        {% endfor %}

    </section>

{% endblock %}
